 .u-section-1 {
  min-height: 1283px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1283px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 -3px;
  padding: 12px 56px 14px 54px;
}

.u-section-1 .u-icon-1 {
  width: 18px;
  height: 18px;
  margin: -35px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0 -2px;
  padding: 13px 73px 13px 72px;
}

.u-section-1 .u-icon-2 {
  width: 19px;
  height: 19px;
  margin: -35px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0 -3px;
  padding: 13px 58px;
}

.u-section-1 .u-icon-3 {
  width: 19px;
  height: 19px;
  margin: -35px auto 0 22px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px -3px 0;
  padding: 13px 91px 14px 90px;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -36px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 319px;
  transform-origin: left center 0px;
  margin: 111px auto 0 -35px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 65px auto 0;
  padding: 14px 76px 15px 75px;
}

.u-section-1 .u-icon-5 {
  width: 20px;
  height: 20px;
  margin: -37px auto 0 24px;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1283px;
  background-image: linear-gradient(#d9d9d9, white);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 66px auto 0 50px;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -20px 50px 0 auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 16px 50px 0 auto;
  padding: 1px 18px 3px 17px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-7 {
  margin: -42px 120px 0 auto;
  padding: 6px 22px 7px 21px;
}

.u-section-1 .u-table-1 {
  width: 933px;
  margin: 18px auto 0 35px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-block-54d8-170 {
  background-image: none;
}

.u-section-1 .u-btn-8 {
  margin: -151px 105px 0 auto;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-8 {
  font-size: 1.625em;
}

.u-section-1 .u-btn-9 {
  margin: 41px 105px 0 auto;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-9 {
  font-size: 1.625em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 172px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1058px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 768px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-line-1 {
    width: 132px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-table-1 {
    width: 588px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 328px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}